body{
    background-color: rgb(50, 24, 51);
}
div{background-color: black;

}

a{
    color:  rgb(72, 34, 73);
    text-decoration: none;
}

.entry-title{
    margin-left: 40px;
}
.entry-content{
    margin-left: 60px;
}
.entry-meta{
    text-align: right;
}
.entry-footer{
    text-align: right;
}
input{
    background-color: black;
    &.search-submit{
        background-color: black;
        color : #666;
    }
}
