body{
    background-color: rgb(50, 24, 51);
}

#primary,#secondary{
    max-width: 1280px;
    margin : 0 auto;
    background-color: black;
}

a{
    color:  rgb(72, 34, 73);
    text-decoration: none;
}
p{margin-left: 20px;}
h1{margin-left: 10px;}

.entry-title{
    margin-left: 40px;
}
.entry-content{
    margin-left: 60px;
}
.entry-meta{
    text-align: right;
}
.entry-footer{
    text-align: right;
}
input{
    background-color: black;
    &.search-submit{
        background-color: black;
        color : #666;
    }
}
nav button{
background-color:black;
color:grey;
}
#post-1{
    margin:0;
}
